
/* for midium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, 
    .sec-2-team-features, 
    .facts-cards, 
    .sponsor-images, 
    .love-enjoy{
        flex-direction: column;
        /*  for align-items: center; */
    }  
    .col-1-left-img{
        grid-template-columns: 1fr;
      }
      .ten-yrs-badge {
        left: 5px; 
        padding: 15px;
      }
}
/* for midium devices top */

/* for small devices bottom */
@media screen and (max-width:576px) {
    
header{
    padding: 20px;
}
/* flex direction to changed */
nav,
.sec-2-team-features, 
.facts-cards, 
.sponsor-images, .love-enjoy{
    flex-direction: column;
}
.col-1-left-img{
  grid-template-columns: 1fr;
}
.facts-cards .card{
    margin-bottom: 10px;
}
.right-image img{
    width: 100%;
    margin-left: 0;
}

 .ten-yrs-badge {
  left: 5px; 
  padding: 15px;
}

}
/* for small devices top */


