
/* for midium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .sec-2-team-features{
        flex-direction: column;
    }  
    .col-1-left-img{
        grid-template-columns: 1fr;
      }
}
/* for midium devices */

/* for small devices */
@media screen and (max-width:576px) {
    
header{
    padding: 20px;
}
/* flex directin to changed */
nav,.sec-2-team-features{
    flex-direction: column;
}
.col-1-left-img{
  grid-template-columns: 1fr;
}

}
/* for small devices */


