/* universal */
* {
  font-family: "Work Sans", sans-serif;

}
/* header css */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
  margin-bottom: 80px;
 
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
/* nav>ul{} */
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
nav h3 {
  color: #131313;
  /* text-align: center; */
  font-size: 2.8rem;
  /* 1rem=16px */
  font-weight: 700;
}
/* Banner css */
.banner h1 {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner p {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
/* button for common use */
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 30px;
  border: none;
  margin-bottom: 50px;
  cursor: pointer;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  /* content in middle margin-0 auto / or  flex */
  margin: 0 auto;
}
.banner img {
  width: 100%;
  /* for responsive */
}

/*  main sec-2 team /features in main start */

main {
  margin: 80px auto;
  max-width: 1440px;
}
.sec-2-team-features {
  display: flex;
  align-items: center;
}
/* create gride layout for images/give little gap1 */
.col-1-left-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.col-2-right-content {
  padding-left: 4.5rem;
}
.col-2-right-content h2 {
  color: #727272;
  font-size: 3rem;
  font-weight: 500;
}
.of-Our {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-size: 3rem;
  font-weight: 700;
}
.col-2-right-content p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}
/*  main sec-2 team /features in main end */

/* sec 3 love-enjoy architect start */
.love-enjoy {
  display: flex;
  margin: 80px auto;
  gap: 50px;
}
.upper-content h3 {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  max-width: 514px;
  border-left: 5px solid #ff900e;
  padding-left: 10px;
  /* content in middle margin-0 auto / or  flex */
  /* margin: 0 auto; */
}
.upper-content p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  max-width: 514px;
}
.service-name {
  max-width: 500px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.09);
}
.service-name h4 {
  color: #131313;
  font-size: 1.2rem;
  font-weight: 600;
}
.service-name p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}

.right-image img{
    height: 65%;
    margin-left: 100px;
}

.ten-yrs-badge {
  border-radius: 10px;
  background: #ff900e;
  width: 342px;
  position: relative;
  color: #fff;
  padding: 40px;
  text-align: center;
  bottom: 100px;
  right: 100px;

}
.ten-yrs-badge h2 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 0;
}
.ten-yrs-badge p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}
/* sec 3 love-enjoy architect end */

/* sec-4 some facts start */
.some-facts {
  margin-bottom: 80px;
}
.some-facts h3 {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.some-facts p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  max-width: 514px;
  margin-bottom: 80px;
}
.facts-cards {
  display: flex;
  justify-content: space-between;
}
.facts-cards .card {
  border-radius: 10px;
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  text-align: center;
  padding: 30px 30px;
}
.card p {
  color: #727272;
  font-size: 1.3rem;
  font-weight: 600;
}
.card h2 {
  color: #424242;
  font-size: 3rem;
  font-weight: 600;
}
/* sec-4 some facts end */

/* sponsor start */
.sponsors {
  margin-top: 120px;
}
.sponsor-contents {
  text-align: center;
  margin-bottom: 30px;
}
.sponsors h2 {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.sponsors p {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.sponsor-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 90px;
  width: 165px;
  gap: 30px;
  margin: 0 auto;
}
/* sponsor end */

/* footer start*/
footer p {
  color: #424242;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  align-items: center;
  padding-top: 40px;
}
footer {
  border-radius: 5px;
  background: #fff4e7;
  max-width: 1440px;
  height: 100px;
  text-align: center;

  margin: 130px auto 5px auto;
}

/* footer end */
