* {
  font-family: "Work Sans", sans-serif;
}
/* header css */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
  margin-bottom: 80px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* nav>ul{} */
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
nav h3 {
  color: #131313;
  /* text-align: center; */
  font-size: 2.8rem;
  /* 1rem=16px */
  font-weight: 700;
}
/* Banner */
.banner h1 {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner p {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
/* button for common use */
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 30px;
  border: none;
  margin-bottom: 50px;
  cursor: pointer;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  /* content in middle margin-0 auto / or  flex */
  margin: 0 auto;
}
.banner img {
  width: 100%;
  /* for responsive */
}

/*  main sec-2 team /features in main */

main {
  margin: 80px auto;
  max-width: 1440px;
}
.sec-2-team-features {
  display: flex;
  align-items: center;
}
/* create gride layout for images/give little gap1 */
.col-1-left-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.col-2-right-content {
  padding-left: 4.5rem;
}
.col-2-right-content h2 {
  color: #727272;
  font-size: 3rem;
  font-weight: 500;
}
.of-Our {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-size: 3rem;
  font-weight: 700;
}
.col-2-right-content p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}
/*  main sec-2 team /features in main end */
.love-enjoy {
  display: flex;
  margin: 80px auto;
}
.upper-content h3 {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  max-width: 514px;
  /* content in middle margin-0 auto / or  flex */
  /* margin: 0 auto; */
}
.upper-content p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  max-width: 514px;
}
.service-name {
  max-width: 515px;
}
.service-name h4 {
  color: #131313;
  font-size: 1.2rem;
  font-weight: 600;
}
.service-name p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
/*  main sec-2 team /features in main end */
/* some facts start */
.some-facts h3 {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.some-facts p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  max-width: 514px;
}
